# Server
PORT=8080

# Google service account key file path
GOOGLE_APPLICATION_CREDENTIALS=C:\\alivio-backend\\service-account.json

# Discovery Engine / Vertex AI Search
VERTEX_SEARCH_PROJECT_NUMBER=807488403515
VERTEX_SEARCH_LOCATION=global
VERTEX_SEARCH_COLLECTION=default_collection
VERTEX_SEARCH_ENGINE=alivio-search_1776189054215
VERTEX_SEARCH_SERVING_CONFIG=projects/807488403515/locations/global/collections/default_collection/engines/alivio-search_1776189054215/servingConfigs/default_search
VERTEX_SEARCH_ENDPOINT=https://discoveryengine.googleapis.com/v1alpha/projects/807488403515/locations/global/collections/default_collection/engines/alivio-search_1776189054215/servingConfigs/default_search:search

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
